body {
    background-image: url("https://images.unsplash.com/photo-1535850452425-140ee4a8dbae?q=80&w=1624&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: repeat;
    background-size: cover;
}

.main {
    border: 3px double #666;
    box-shadow: inset 0px 0px 15px;
    width: 700px !important;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 5px 15px 50px 15px;
    backdrop-filter: blur(2px) !important;

}

#h1 {
    padding-top: 40px;
    color: #666;
    font-family: special;
    text-shadow: 2px 2px 1px black;
    font-weight: bolder;
    word-spacing: 7px;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;

}

#h6 {
    text-align: center;
    color: rgba(255, 255, 255, 0.725);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#itemImg {
    padding: 15px;
    margin-top: 17px;

}

#imageOutput {
    border-radius: 360px;
    margin-top: 30px;
    width: 150px;
    height: 150px;

}

.imageoutDiv {

    display: none;
}

.inpDiv {
    margin-top: 10px;
    opacity: 0.8;
}

.inputDiv2 {
    margin-top: 15px;
}

#para {
    color: white;
    font-weight: 700;
    padding-left: 10px;
}
.ButtonDiv{
    display: flex;
    justify-content: space-between;
}

#Add {
    background-color: #666;
    color: white;
    border: none;
    padding: 7px;
    margin-top: 10px;
    width: 170px;
    border-radius: 6px;
    font-size: large;
}

#Add:focus {
    border: 1px solid white;
}
#Save{
    background-color: #666;
    color: white;
    border: none;
    padding: 7px;
    margin-top: 10px;
    width: 170px;
    border-radius: 6px;
    font-size: large;
    display: none;
}
#Save:focus{
    border: 1px solid white;
}
#Clear{
    background-color: #666;
    color: white;
    border: none;
    padding: 7px;
    margin-top: 10px;
    width: 170px;
    border-radius: 6px;
    font-size: large;
    display: none;
}
#Clear:focus{
    border: 1px solid white;
}

#productDiv {
    margin-top: 40px;
    border-radius: 10px;
    opacity: 0.9;
    display: none;
}

#proImg {
    width: 200px !important;
    height: 200px !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.774) !important;
    font-family: cursive;
    border: 2px solid black !important;
    box-shadow: inset 0px 0px 50px #666 !important;
}

.card:hover {
    box-shadow: 0px 0px 2px black !important;
    transform: scale(0.9);
    transition: 1s;
}

#EditBtn {
    background: #666;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    font-size: medium;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;

}

#EditBtn:focus {
    border: 1px solid black !important;
}

#DelBtn {
    background: #666;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    font-size: medium;
    color: white;
    border: none;
    cursor: pointer;
}

#DelBtn:focus {
    border: 1px solid black !important;
}
.cardBtnDiv{
    display: flex;
    justify-content: end;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

#PreviousimageOutput{
    border-radius: 360px;
    margin-top: 30px;
    width: 150px;
    height: 150px;
}
#Close{
    color: #666;
    background-color: rgba(179, 176, 176, 0.576)
}
#Update{
    background-color: #666;
    color: white;
    border: none;

}
#Update:focus{
    border: 2px solid white !important;
}

@media screen and (max-width: 600px) {
    .main {
        width: 500px !important;
    }
}